@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --yellow: #f9c06a;
  --brown: #603809;
  --grey: #707070;
  --black: #1e1e1e;
  --product: #F9C06A6B;
  --header-height: 120px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

.btn {
  padding: 14px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  text-decoration: none;

  &.solid {
    background-color: var(--yellow);
    color: var(--black);
  }

  &.flat {
    color: white;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px 93px;

  .logo {
    width: 135px;
    height: auto;
  }

  .right-items {
    gap: 12px;
    display: flex;
    align-items: center;
  }
}

ul.menu {
  display: flex;
  text-decoration: none;
  gap: 60px;
  list-style: none;

  li {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: white;
  }
}

section.hero {
  background-image: url(media/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  padding: 0 93px;

  h1 {
    font-family: "Clicker Script", serif;
    font-size: 220px;
    font-weight: 400;
    line-height: 200px;
    color: white;
  }

  p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: white;
  }

  .hero-texts-cta {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 527px;
    height: 490px;
    padding-top: 130px;

    padding-bottom: 50px;

    .hero-texts {
      display: flex;
      flex-direction: column;
      gap: 32px;


    }

    .btn {
      align-self: flex-start;
    }
  }
}

.discovery-section {
  background-image: url(media/image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100dvh;
  padding: 150px 93px;
  font-family: "Playfair Display", serif;



  .discovery-text {
    display: flex;
    flex-direction: column;
    width: 585px;
    height: 348px;
  }

  h1 {

    font-size: 54px;
    font-weight: 700;
    line-height: 71px;
    color: var(--brown);
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: var(--grey);
    line-height: 34px;
  }

  .btn {
    align-self: start;
    margin-top: 20px;
  }
}

.product {
  display: flex;
}