@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --yellow: #f9c06a;
  --brown: #603809;
  --grey: #707070;
  --black: #1e1e1e;
  --product: #fff9f1;
  --header-height: 90px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  width: 100%;
  background-color: #1e1e1e;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}

section {
  width: 100%;
}

section:not(.hero, .opportunity, .subcription-and-footer) {
  padding: 32px 24px;

  @media (min-width: 768px) {
    padding: 54px 32px;
  }

  @media (min-width: 1024px) {
    padding: 71px 93px;
  }
}

.btn {
  padding: 14px 26px;
  font-size: clamp(0.75rem, 0.7037rem + 0.2469vw, 1rem);
  font-weight: 600;
  border-radius: 24px;
  text-decoration: none;
  outline: none;

  &.solid {
    background-color: var(--yellow);
    color: var(--black);
  }

  &.flat {
    color: white;
  }
}

.section-heading {
  display: flex;
  flex-direction: column;
  gap: 29px;

  &.center {
    text-align: center;
  }

  h2 {
    font-size: clamp(2rem, 1.7454rem + 1.358vw, 3.375rem);
    font-weight: 700;
    line-height: 1.2;
    color: var(--brown);
  }

  p {
    font-size: clamp(1rem, 0.9537rem + 0.2469vw, 1.25rem);
    font-weight: 400;
    color: var(--grey);
    line-height: 1.9;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1, 1fr;
  gap: 20px;

  @media (min-width: 540px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #050402;
  height: var(--header-height);
  padding: 20px 24px;
  z-index: 1000;
  max-width: 1440px;
  margin: 0 auto;

  .logo {
    width: 135px;
    height: auto;
  }

  ul.menu {
    display: none;
    list-style: none;
    gap: 20px;

    li {
      font-size: clamp(0.75rem, 0.7269rem + 0.1235vw, 0.875rem);
      font-weight: 500;
      line-height: 18px;
    }

    a {
      text-decoration: none;
      color: white;
    }

    @media (min-width: 768px) {
      gap: 40px;
      display: flex;
    }
    @media (min-width: 1024px) {
      gap: 60px;
    }
  }

  .right-items {
    display: flex;
    gap: 12px;
    align-items: center;

    .links-wrapper {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        gap: 0.75rem;
        align-items: center;
      }
    }

    .menu-btn {
      color: white;
      height: 24px;
      width: 24px;
      background-color: transparent;
      border: none;
      outline: none;

      @media (min-width: 768px) {
        display: none;
      }

      .menu-icon {
        color: inherit;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 20px 32px;
  }
  @media (min-width: 1024px) {
    padding: 20px 93px;
  }
}

#mobile-navigation {
  height: 100vh;
  width: 200px;
  margin-left: auto;
  display: flex;
  padding: 20px;
  border: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition-behavior: allow-discrete;
  display: block;
  opacity: 0;
  transform: translateX(200px);

  li {
    list-style-type: none;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--brown);
    margin-bottom: 10px;
    color: var(--brown);
    font-weight: bold;
    width: 100%;
    transition: width 0.3s ease, color 0.3s ease;
  }

  li a:hover {
    width: 90%;
    color: #2c3f50bd;
  }

  .menu-close-btn {
    color: var(--brown);
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    margin-left: auto;

    @media (min-width: 768px) {
      display: none;
    }

    .menu-icon {
      color: inherit;
      width: 100%;
      height: 100%;
    }
  }
}

/* Opened POPOVER */
#mobile-navigation:popover-open {
  opacity: 1;
  transform: translateX(0px);
}

section.hero {
  background-image: url(media/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  padding-bottom: 24px;
  aspect-ratio: 16 / 7;

  @media (min-width: 768px) {
    padding-left: 32px;
  }

  @media (min-width: 1024px) {
    padding-left: 93px;
  }

  h1 {
    font-family: "Clicker Script", serif;
    font-size: clamp(9.375rem, 8.5648rem + 4.321vw, 13.75rem);
    font-weight: 400;
    color: white;
    line-height: 1.2;
  }

  p {
    font-size: clamp(1rem, 0.9537rem + 0.2469vw, 1.25rem);
    line-height: 1.75;
    font-weight: 400;
    color: white;
  }

  .hero-texts-cta {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 527px;
    height: auto;
  }

  .hero-texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .btn {
    align-self: flex-start;
  }
}

.discovery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: 1024px) {
    gap: 95px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  .left-blast {
    position: absolute;
    bottom: -20%;
    left: 0;
    z-index: 2;
    height: auto;
    width: 100%;
    max-width: 300px;
    bottom: -5%;

    @media (max-width: 424.98px) {
      display: none;
    }

    @media (min-width: 768px) {
      bottom: -15%;
    }
    @media (min-width: 1280px) {
      /* bottom: -12%; */
      max-width: 442px;
    }
  }

  .discovery-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .btn {
    align-self: start;
    margin-top: 20px;
  }
}

section.categories {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .section-heading {
    gap: 16px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    min-height: 364px;
    position: relative;
    justify-content: center;

    img {
      max-height: 222px;
      width: auto;
    }
    .info {
      background-color: var(--product);
      border: 1px solid var(--yellow);
      text-align: center;
      padding: 14px 14px 32px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      h2 {
        font-size: 22px;
        line-height: 29px;
        font-weight: 700;
        color: var(--brown);
      }
      p {
        color: var(--black);
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
      }
      small {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        color: var(--brown);
      }
    }

    .btn {
      margin-top: -20px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }
  }
}

.why-choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;

  .right-blast {
    position: absolute;
    right: 0;
    z-index: 2;
    top: -6%;
    height: auto;
    width: 100%;
    max-width: 250px;

    @media (max-width: 424.98px) {
      display: none;
    }

    @media (min-width: 640px) {
      top: -10%;
      max-width: 300px;
    }
    @media (min-width: 1280px) {
      top: -12%;
      max-width: 442px;
    }
  }

  .listed-reasons {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #f9c06a6b;
    background-color: var(--product);
    padding: 36px 48px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .listed-reasons:hover {
    background-color: #ffeed8;
    border-color: #f9c06a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .listed-reasons > img {
    width: 88px;
  }

  h3 {
    color: var(--brown);
    font-size: 28px;
    font-weight: 700;
    line-height: 37.32px;
  }

  p {
    color: var(--grey);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
  }
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding-top: 32px;

  h2 {
    color: var(--brown);
    font-size: 20px;
    font-weight: 700;
    line-height: 26.66px;
  }

  p {
    color: var(--grey);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
  }
}

.opportunity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(rgba(96, 56, 9, 1), rgba(96, 56, 9, 0.7) 80%),
    url(../media/Rectangle14.png);
  background-position: center;
  background-size: cover;
  padding-left: 24px;
  min-height: 574px;
  padding-top: 32px;

  @media (min-width: 768px) {
    padding-left: 32px;
    flex-direction: row;
    padding-top: 0;
  }

  @media (min-width: 1024px) {
    gap: 40px;
    padding-left: 93px;
  }
  @media (min-width: 1440px) {
    gap: 60px;
  }

  .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 90%;

    @media (min-width: 768px) {
      flex: 50%;
      gap: 22px;
    }

    h2 {
      color: white;
    }

    p {
      color: white;
    }

    .btn {
      align-self: flex-start;
    }
  }

  .opp-image {
    flex: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      max-width: 100%;
      width: auto;

      @media (max-width: 767.98px) {
        max-height: 400px;
      }
    }

    @media (min-width: 768px) {
      flex: 50%;
    }
  }
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 82px;
  gap: 32px;
  position: relative;

  .right-blast {
    position: absolute;
    right: 0;
    z-index: 2;
    height: auto;
    width: 100%;
    max-width: 250px;
    top: 12%;

    @media (max-width: 424.98px) {
      display: none;
    }

    @media (min-width: 640px) {
      top: 10%;
      max-width: 300px;
    }
    @media (min-width: 1280px) {
      top: 5%;
      max-width: 442px;
    }
  }
  .left-blast {
    position: absolute;
    left: 0;
    z-index: 2;
    height: auto;
    width: 100%;
    max-width: 250px;
    bottom: 5%;

    @media (max-width: 500px) {
      display: none;
    }

    @media (min-width: 1280px) {
      max-width: 442px;
    }
  }
  .section-heading {
    gap: 16px;
  }
  .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 28px;
    position: relative;

    img {
      height: 100px;
      border-radius: 25px;
      margin-top: -60px;
      width: auto;
      height: 60px;

      @media (min-width: 1024px) {
        margin-top: -70px;
        height: 100px;
      }
    }

    span {
      font-size: clamp(9.375rem, 8.2237rem + 6.1404vw, 13.75rem);
      font-weight: 700;
      color: var(--brown);
      align-self: flex-start;
    }

    .johnny {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 28px;
      font-size: 18px;
      font-weight: 600;
      line-height: 36px;
      color: var(--grey);
      background-color: var(--product);
      padding: 48px 24px;

      @media (min-width: 640px) {
        padding: 64px 32px;
      }
      @media (min-width: 1024px) {
        padding: 64px;
      }
      @media (min-width: 1280px) {
        padding: 100px;
      }

      .name {
        color: var(--brown);
        font-weight: 700;
        font-size: 32px;
        line-height: 42.66px;
      }
    }
  }
}

.subcription-and-footer {
  position: relative;

  .left-cup,
  .right-cup {
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
    height: 180px;
    width: auto;
  }

  .left-cup {
    left: 0;
  }

  .right-cup {
    right: 0;
  }

  @media (max-width: 639.98px) {
    .left-cup,
    .right-cup {
      display: none;
    }
  }

  @media (min-width: 640px) {
    .left-cup,
    .right-cup {
      top: 37%;
    }
  }

  @media (min-width: 768px) {
    .left-cup,
    .right-cup {
      top: 40%;
      height: 200px;
    }
  }
  @media (min-width: 910px) {
    .left-cup,
    .right-cup {
      top: 32%;
    }
  }

  @media (min-width: 1024px) {
    .left-cup,
    .right-cup {
      height: 250px;
      top: 40%;
    }
  }
  @media (min-width: 1440px) {
    .left-cup,
    .right-cup {
      height: 350px;
    }
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: linear-gradient(rgba(96, 56, 9, 1), rgba(96, 56, 9, 0.7) 80%),
    url(../media/Rectangle14.png);
  background-position: center;
  background-size: cover;
  padding: 80px 32px;
  position: relative;

  @media (min-width: 768px) {
    padding: 100px 73px;
  }

  @media (min-width: 1024px) {
    padding: 120px 93px;
  }

  @media (min-width: 1440px) {
    padding: 140px 93px;
  }

  h2 {
    color: white;
    font-size: 54px;
    font-weight: 700;
    line-height: 71.98px;
  }

  p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }

  .input-and-btn {
    display: flex;
    width: 100%;

    @media (max-width: 400px) {
      gap: 8px;
      flex-direction: column;
    }

    @media (min-width: 500px) {
      width: 70%;
    }

    @media (min-width: 1024px) {
      width: 500px;
    }
  }

  input {
    height: 40px;
    border: 1px;
    padding: 4px 12px;

    @media (min-width: 400px) {
      flex: 80%;
    }
  }

  button {
    background-color: var(--yellow);
    color: var(--brown);
    padding: 8px 24px;
    height: 40px;
    border: 1px white;
    align-self: center;
  }
}

.footer {
  background: linear-gradient(rgba(96, 56, 9, 1), rgba(96, 56, 9, 0.7) 80%),
    url(../media/fotter_image.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  padding: 80px 32px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 73px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding: 120px 93px;
  }

  @media (min-width: 1440px) {
    gap: 66px;
    padding: 140px 93px;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36.66px;
  }

  .logo {
    width: 207px;
    height: auto;
  }

  .column-one,
  .column-four {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .column-two,
  .column-three {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .sub-about {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
